
<section class="fh5co-top-banner">
	<div class="top-banner__inner site-container">
		@foreach (var item in ViewBag.bannerValue)
		{
		<div class="top-banner__image">
			<img src=@item.BannerPhoto alt="author image">
		</div>
		<div class="top-banner__text">
			<div class="top-banner__text-up">
				<span class="brand-span">@item.ShortHelloText</span>
				<h2 class="top-banner__h2">@item.Name</h2>
			</div>
			<div class="top-banner__text-down">
				<h2 class="top-banner__h2">@item.Surname</h2>
				<span class="brand-span">@item.BannerShortAbout</span>
			</div>
			<p>@item.BannerShortAbout1</p>
			<a href="#" class="brand-button"> İletişim için</a>
		</div>
		}
	</div>
</section>