@using BlogWebSite_Entity

<section class="fh5co-about-me">
		<div class="about-me-inner site-container">
			@foreach (var item in ViewBag.mainAboutValue)
		{
				<article class="portfolio-wrapper">
					<div class="portfolio__img">
						<img src="@item.AboutPhoto" class="about-me__profile" alt="about me profile picture">
					</div>
					<div class="portfolio__bottom">
						<div class="portfolio__name">
							<span>Ş</span>
							<h2 class="universal-h2">eyma Ercan</h2>
						</div>
						<p>@item.AboutShortText</p>
					</div>
				</article>
			<div class="about-me__text">
				<div class="about-me-slider">
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">@item.AboutTitle</h2>
						<p><span></span> @item.AboutText</p>
						<h4>@item.UserStatusTitle</h4>
						<p class="p-white"></p>
					</div>
					@foreach (var aboutItem in ViewBag.otherAboutsValue)
					{
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">@aboutItem.AboutTitle</h2>
						<p><span></span>@aboutItem.AboutText</p>
						<h4>@aboutItem.UserStatusTitle</h4>
						<p class="p-white">@* See me *@</p>
					</div>
					}
				</div>
			</div>
		}
		</div>
		<div class="about-me-bckg"></div>
</section>
