@using BlogWebSite_Entity
@model CategoryModel

@{
    ViewData["Title"] = "ReviewCategory";
    Layout = "~/areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<form id="updateForm" method="post" onsubmit="updateCategory(event); return false;" style="margin-left:50px">
    <div class="columns is-multiline">
        <div class="column is-half">
            <div class="box">
                <div class="field">
                    <label class="label">Kategori ID</label>
                    <div class="control">
                        <input class="input" type="text" name="CategoryID" value="@Model.CategoryID" readonly>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Kategori Durumu</label>
                    <div class="control">
                        @if (Model.Status is true)
                        {
                            <input class="input" type="text" name="Status" value="@Model.Status.ToString()" style="color:green;" value="aktif" readonly>
                        }
                        else
                        {
                            <input class="input" type="text" name="Status" value="@Model.Status.ToString()" style="color:red;" value="pasif" readonly>
                        }
                    </div>
                </div>

                <div class="field">
                    <label class="label">Kategori Adı</label>
                    <div class="control">
                        <input class="input" type="text" name="CategoryName" value="@Model.CategoryName" >
                    </div>
                </div>
                <div class="field">
                    <label class="label">Kategori Açıklaması</label>
                    <div class="control">
                        <input class="input" name="CategoryDescription" value="@Model.CategoryDescription" ></input>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-danger">Kaydet</button>
            </div>
           
        </div>
    </div>
    <br>
</form>
<script>
    function updateCategory(event) {

        event.preventDefault();

        var formData = new FormData($("#updateForm")[0]);

        $.ajax({
            url: "/Admin/Category/EditCategory",
            type: "PUT",
            data: formData,
            contentType: false,
            processData: false,

            success: function (response) {
                if (response.success) {
                    swal.fire({
                        title: "İşlem Başarılı !",
                        text: "Yönlendiriliyorsunuz...",
                        icon: "success",
                        button: "button",
                    }).then(() => {
                        window.location.reload();
                    });
                }
                else {
                    swal.fire({
                        title: "İşlem başarısız !",
                        text: "Lütfen tekrar deneyiniz..",
                        button: "Tamam",
                        icon: "error",
                    });
                }
            },
        });
    }
</script>


