@using BlogWebSite_Entity
@model BannerModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<form id="updateForm" method="post" onsubmit="updateCategory(event)" enctype="multipart/form-data">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Fotoğraf</label>
            <input type="file" name="BannerPhoto" id="input" class="form-control" placeholder="Fotograf" />
        </div>

        <div class="form-group col-md-6">
            <label>Merhaba Yazısı</label>
            <input type="text" name="ShortHelloText" id="input" class="form-control" value="@Model.ShortHelloText" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>İsim</label>
            <input type="text" name="Name" id="input" class="form-control" value="@Model.Name" />
        </div>
        <div class="form-group col-md-6">
            <label>Soyisim</label>
            <input type="text" name="Surname" id="input" class="form-control" value="@Model.Surname" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Alanlar</label>
            <input type="text" name="BannerShortAbout1" id="input" class="form-control" value="@Model.BannerShortAbout1" />
        </div>
        <div class="form-group col-md-6">
            <label>Kısa Hakkımda Yazısı</label>
            <input type="text" name="BannerShortAbout" id="input" class="form-control" value="@Model.BannerShortAbout" />
        </div>
    </div>

    <button type="submit" class="button is-primary">Güncelle</button>
</form>

<script>
    function updateCategory(event) {
        event.preventDefault(); // Form gönderimini engelle

        var formData = new FormData($("#updateForm")[0]);

        $.ajax({
            url: "/Admin/Banner/UpdateBanner",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,

            success: function (response) {
                if (response.success) {
                    swal.fire({
                        title: "İşlem Başarılı !",
                        icon: "success",
                        button: "Tamam",
                    });
                }
                else {
                    swal.fire({
                        title: "İşlem başarısız !",
                        icon: "error",
                        button: "Tamam",
                    });
                }
            },
            error: function () {
                alert("İşlem başarısız oldu");
            }
        });

    }
</script>


